*{
    margin: 0;
    padding: 0;
}

body {
    margin-left: 10%;
    margin-right: 10%;
  
    
}

/*///////////////////////////////////////////////
Header
///////////////////////////////////////////////*/

header {
    display: grid;
    grid-template-columns: 5vw 1fr 1fr;
    margin-top: 5px;
}

h1 {
    text-align: left;
    font-size: 220%;
    margin-top: 1rem;

}

.logo {
    height: 4vw;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 3rem;
    list-style: none;
    max-width: 100%;
}

.menu li {
    text-align: center;
    display: inline-block;
}

.menu li a {
    text-decoration: none;
    padding: 0.3rem 5rem;
    border: solid;
    color: black;
}

/*///////////////////////////////////////////////
aside + slider
///////////////////////////////////////////////*/

aside {
    width: 100%;
    height: 20vw;
    margin-top: 0.4rem;
}

.slider {
    width: 100%;
    height: 20vw;
    object-fit: cover;   
}

/*///////////////////////////////////////////////
main
///////////////////////////////////////////////*/

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*///////////////////////////////////////////////
Call to action
///////////////////////////////////////////////*/

.call_to_action {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 10px;
    border: solid 2px;
    margin-left: 7px;
    margin-right: 2px;
    width: 100%;
}
.info {
    grid-column: 1/13;
    text-align: center;
    border-bottom: solid 2px;
    height: 2vh;
}

.info h3 {
    font-size: 200%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.enter_name {
    margin-top: 2rem;
    
}

.call_to_action .enter_name input {
    grid-column: 2/12;
    width: 90%;

    text-align: center;
    font-size: 120%;
    background: rgba(255, 255, 255, 0.2);
    margin-left: 2rem;
}

.enter_email {
    margin-top: 2rem
}

.call_to_action .enter_email input {
    grid-column: 2/12;
    width: 90%;

    text-align: center;
    font-size: 120%;
    background: rgba(255, 255, 255, 0.2);
    margin-left: 2rem;
}

.call_to_action .button {
    grid-column: 2/12;
    margin-top: 2.5rem;
    margin-left: 2rem;

    text-align: center;
    font-size: 120%;
    text-decoration: none;
    color: black;
    background-color: red;
    border: solid;
    border-color: black;
}

/*///////////////////////////////////////////////
vigtige ord
///////////////////////////////////////////////*/
.vigtige_ord {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: solid 2px;
    margin-top: 10px;
}

.glade {
    margin-top: 1rem;
    text-align: center;
}

.glade p {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10vh;
    margin-top: 1%;
}

.glade img {
    border-radius: 50%;
    width: 50%;
    height: 50%;

}

.sammenhold {
    margin-top: 1rem;
    text-align: center;
}

.sammenhold p {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5vh;
    margin-top: 1%;
}

.sammenhold img {
    width: 50%;
    border-radius: 50%;
    height: 50%;

}

.felleskab {
    margin-top: 1rem;
    text-align: center;
}

.felleskab p {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5vh;
    margin-top: 1%;
}

.felleskab img {
    width: 50%;
    border-radius: 50%;
    height: 50%;

}

/*///////////////////////////////////////////////
footer
///////////////////////////////////////////////*/
footer {
    margin-top: 10px;
    color: aliceblue;
    background-color: black;
}


/*///////////////////////////////////////////////
Slideshow
///////////////////////////////////////////////*/
/*https://www.w3schools.com/howto/howto_js_slideshow.asp*/

/* Slideshow container */
.video {
    margin: auto;
    margin-top: 10px;
    max-width: 1000px;
    position: relative;
    border: solid 2px;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .billeder img {
      width: 100%;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  