header {
    display: grid;
    grid-template-columns: 16vw 1fr;
}

.logo {
    height: 15vw;
}

.overskrift {
    margin: auto;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
}

li {
    text-align: center;
}

aside {
    width: 100%;
    height: 25vw;

}

.slider {
    width: 100%;
    height: 25vw;
    object-fit: cover;   
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.info {
    margin-top: 10px;
    margin-left: 4vw;
    margin-right: 4vw;

}

.film {
    width: 40vw;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto; 
}

.articlefoto {
    height: 40vw;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto; 
}

footer {
    margin-top: 10px;
    color: aliceblue;
    background-color: black;
}