*{
    margin: 0;
    padding: 0;
}

body {
    margin-left: 200px;
    margin-right: 200px;
}

/*///////////////////////////////////////////////
Header
///////////////////////////////////////////////*/

header {
    display: grid;
    grid-template-columns: 5vw 1fr 1fr;
    margin-top: 5px;
}

h1 {
    text-align: left;
    font-size: 220%;
    margin-top: 1rem;

}

.logo {
    height: 4vw;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 3rem;
    list-style: none;
}

.menu li {
    text-align: center;
    display: inline-block;
}

.menu li a {
    text-decoration: none;
    padding: 4px 70px;
    border: solid;
    color: black;
}

/*///////////////////////////////////////////////
aside + slider
///////////////////////////////////////////////*/

aside {
    width: 1500px;
    height: 20vw;
    margin-top: 0.4rem;
}

.slider {
    width: 100%;
    height: 20vw;
    object-fit: cover;   
}

/*///////////////////////////////////////////////
main
///////////////////////////////////////////////*/

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.call_to_action {
    margin-top: 10px;
    border: solid 2px;
    margin-left: 7px;
    margin-right: 2px;
}
.info {
    text-align: center;
    border-bottom: solid 2px;
}

.info h3 {
    font-size: 200%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.enter_name {
    margin-top: 2rem;
    
}

.call_to_action .enter_name input {
    width: 90%;
    height: 5rem;
    text-align: center;
    font-size: 25px;
    background: rgba(255, 255, 255, 0.2);
    margin-left: 2rem;
}

.enter_email {
    margin-top: 2rem
}

.call_to_action .enter_email input {
    width: 90%;
    height: 5rem;
    text-align: center;
    font-size: 25px;
    background: rgba(255, 255, 255, 0.2);
    margin-left: 2rem;
}

.call_to_action .button {
    margin-top: 2.5rem;
    margin-left: 2rem;
    padding: 2.5rem 10.1rem;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    color: black;
    background-color: red;
    border: solid;
    border-color: black;
}

.film {
    width: 40vw;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto; 
}

.articlefoto {
    height: 40vw;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto; 
}

/*///////////////////////////////////////////////
footer
///////////////////////////////////////////////*/
footer {
    margin-top: 10px;
    color: aliceblue;
    background-color: black;
}